[2016-05-26 15:17] Temka193 opened #15 "How to use console on Unity 4.6.5?"
I download and import from asset store.

Change
[code]

to

[code]

It gives this error:

[2016-05-26 15:24] weeeBox commented on #15
Hey there!

Sorry but the plugin is only supported on Unity 5.0.0 and later

[2016-05-26 15:24] #15 closed

[2016-05-26 15:28] Temka193 commented on #15
it does not really run on 4.6?

[2016-05-26 15:30] weeeBox commented on #15
Can't tell for sure. There might be API incompatibility issues: haven't really tested it.

[2016-05-26 15:31] Temka193 commented on #15
I really need a console, can come up with something?
Or maybe there are analogs?

[2016-05-26 15:38] weeeBox commented on #15
I'm traveling right now and have a very limited access to a laptop. Would take a look later but can't promise much: the backward compatibility with older Unity versions are not on the road map.

There're a few "competitor" products on the Asset Store - just look them up.

I would personally recommend to upgrade to the latest version of Unity. It might be a bit painful but would pay itself off in a

[2016-11-25 11:02] Temka193 opened #27 "Do commands putting plans in the console?"
I would like to add in the console to enter commands.
Is it in your plans Asset?

[2016-11-25 18:52] weeeBox commented on #27
Yes, it's in a roadmap: stay tuned and make sure to rate the plugin on the asset store is you find it useful

[2017-01-11 05:29] jinunpark opened #31 ""Local reference table overflow" in android"
Hi. I'm using lunar console in my game.

Unity version is 5.3.5f1.

In iOS, lunar is fine. It's very good to see and search logs. Thanks!

But when I applied lunar in Android, it makes error below:

[code]

It seems about log string is too many to handle. But without lunar, it's not appear.

Can I get information for find cause of this problem?

[2017-01-11 06:05] weeeBox commented on #31
Hello,

Can you try to create an empty project, integrate the plugin and see if the issue still occurs?

Please, refer to the [Troubleshooting](https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting#before-you-start) guide for more info:

[2017-01-12 05:15] jinunpark commented on #31
Ok. I'll try step on troubleshooting and report in weekend.

[2017-01-12 05:23] weeeBox commented on #31
Thanks! It would be helpful if you can provide the list of other Android plugins used in you project.

[2017-01-12 05:26] jinunpark commented on #31
Roger that. :)

[2017-01-16 06:52] jinunpark commented on #31
Sorry. I'm late.

I made empty project and added lunar console.

And added LunarCondsole GameObject by install LunarConsole,
<img width="324" alt="2017-01-16 3 44 32" src="https://cloud.githubusercontent.com/assets/9670638/21973275/ce2b5828-dc02-11e6-9876-f7040f7bc32e.png">

Asset is only:
<img width="447" alt="2017-01-16 3 44 38" src="https://cloud.githubusercontent.com/assets/9670638/21973276/ce

[2017-01-16 06:57] jinunpark commented on #31
Sorry. I missed Android version. It's 6.0.1.

[2017-01-16 07:19] weeeBox commented on #31
Thanks, @jinunpark! I'll take a look asap!

[2017-01-16 08:03] weeeBox commented on #31
@jinunpark, the bug is fixed now: I'm able to run the app with 500 logs per frame and it does not crash. The changes would appear in the next release (would take around 10 days to pass through).

In a mean time, take a look at this [pull request](https://github.com/SpaceMadness/lunar-unity-console/pull/32). All you need to do is to download an updated file [LunarConsole.cs](https://github.com/Spac

[2017-01-16 08:03] #31 closed

[2017-01-16 08:09] jinunpark commented on #31
Thank you for bug fix! @weeeBox

[2017-01-16 08:10] weeeBox commented on #31
Sure! Thanks for reporting it! Don't forget to rate the plugin if you find it useful :)

[2017-01-21 23:52] weeeBox commented on #27
Here's the first [step](https://github.com/SpaceMadness/lunar-unity-console/wiki/Actions-and-Variables). Available starting v0.8.0.

[2017-02-06 08:01] tucano opened #35 "Crash on Unity Open Project"
Hello, with the new project on OSX 10.11.6 the Unity project sometimes crash on compilation of scripts. If I remove the Lunar console from the asset the projectdoes not crash and I can reimport the Lunar console with the project open.

Any idea where I can get a crash log? Unity/Editor.log seems not reporting anything of interesting.

[2017-02-06 08:06] weeeBox commented on #35
Hey there!

Sorry for the issue. What Unity version do you use? Does it crash on an empty project? Are there any other plugins?

[2017-02-06 08:11] tucano commented on #35
Unity version 5.5.0f3

Is my main project so there are several other plugins, but I have experiencing this problem only after the importing of the Lunar Console.

Is quite scary: Unity project won't open but the fix is simple, I remove lunar from assets and I reimport it.

I have in plugins/Android/LunarConsole the following included platforms:
- Android
-OSX

The project is currently in Android M

[2017-02-06 08:16] weeeBox commented on #35
Thanks for the info.

It's hard to tell right now but can you try to remove all Unity temp files? If you're on git use `git clean -x -f -d` in your project's root (**make sure all project files are checked in and committed**). If you don't use git - remove the following files:
[code]
Let me know if it helps

[2017-02-06 08:32] weeeBox commented on #35
I did a quick test with Lunar Mobile Console v0.9.0 on Unity 5.5.0f3 Personal (OS X 10.12.1): everything compiles and runs fine.

You can also look at the [Troubleshooting](https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting#before-you-start) guide on wiki for proper "clean up" steps.

I haven't found match on the editor logs besides [Log Files](https://docs.unity3d.com/Manual

[2017-02-07 07:46] tucano commented on #35
Hello I am here again with the morning crash.

git clean -x -f -d did the job.

And the project was reimported and is up and running, let's see what open tomorrow :-)

[2017-02-07 07:57] weeeBox commented on #35
Hello!

Great to hear that! I'll update the troubleshooting guide.

Thanks for your help!

[2017-02-08 02:34] weeeBox commented on #35
Please, let me know if this approach resolves the bug so I can close the issue

[2017-02-23 14:39] JanOschii opened #39 "API Calls are undocumented"
Hi guys,

you have a link in your documentation (under "Usage") that leads to an non existing "API Calls" documentation.

If someone else missing it and is reading this here.
You should take a look in the LunarConsole Component Script (LunarConsole.cs) to find all functions.

To open the console from script: LunarConsolePlugin.LunarConsole.Show();

Jan

PS: Nice asset! Very useful.
PPS: Also the l

[2017-02-23 16:52] weeeBox commented on #39
Hi Jan!

Thanks for finding those issues! Everything is fixed now.

-Alex

p.s. don't forget to [rate](https://www.assetstore.unity3d.com/en/#!/account/downloads/search=Lunar%20Mobile%20Console) the plugin on the Asset Store if you find it useful!

[2017-02-23 16:52] #39 closed

[2017-03-12 00:08] #35 closed

[2017-03-12 00:09] weeeBox opened #41 "Android doesn't open the console on Unity 5.6.0b11"

[2017-03-24 01:34] Seromu opened #45 "I don't need the Action sorted by alphabetical order"
I need a 'Do Not Sort' option.

[2017-03-24 01:36] weeeBox commented on #45
Hey, @Seromu. I'll add it to the road map.

[2017-03-27 10:55] eandropov opened #46 "Open console gesture issue on ios after modify CVar dialog, Unity 5.5.2p3"
Hello there, i have some strange issue on ios.
To reproduce it just create an empty scene with lunar console prefab, create some CVars, then build it to ios device. When i open and close modify value native dialog by pressing some CVar value in a right tab of lunar console, console won't open again by default 2 fingers down gesture. I found it only on ios, android build works fine. How can i fix t

[2017-03-27 15:36] weeeBox commented on #46
Hey there.

Sorry about the issue. Would you be able to get logs from a device and send it to me?

Thanks,

-Alex

[2017-03-27 16:55] weeeBox commented on #46
@eandropov, I'm able to reproduce the issue and working on it now. Thanks, for reporting and sorry for the inconvenience.

[2017-03-27 18:04] weeeBox commented on #46
@eandropov, the issue is now fixed. I'm preparing an update for the package (would probably go live later this week). In a mean time, you can fix it in your project by updating the following file: `Assets/LunarConsole/Editor/iOS/Common/Console/Plugin/LUConsolePlugin.m`.

Reference commit: [4da7d2785a64ca9f243ac889d41a9ee54e3c4dcb](https://github.com/SpaceMadness/lunar-unity-console/pull/47/commits

[2017-03-27 18:04] #46 closed

[2017-03-29 11:03] Seromu opened #48 "Change default setting value in source code"
Thnak you for great tool!
Our team using this asset, and several designer and artist request 'changing default setting' when application installed. Can I change this with API?

Setting
- Enable Exception Warning
- Enable Transparent Log

[2017-03-29 17:00] weeeBox commented on #48
Thanks, @Seromu. I'll add the features you've requested into the next release

[2017-03-30 00:58] Seromu commented on #48
Thank you! :+1:

[2017-04-01 19:52] weeeBox commented on #41
Fixed in version 1.2.0

[2017-04-01 19:52] #41 closed

[2017-04-03 12:51] eandropov opened #50 "Wrong layout with large log message on iOS"
Hello, i have some layout issues on iOS with large log message. [Screenshot](http://take.ms/4uMiB) from iphone7.
Also, i set "Default Orientation" in unity player settings to "Auto Rotation" and check only landscape right/left, but console can be rotated into any orientation.

[2017-04-03 16:21] weeeBox commented on #50
Hi, Evgeny.

Sorry for the issue. I'll take a look at it asap and get back to you!

-Alex

[2017-04-04 02:25] weeeBox commented on #50
Please, update source files according to the pull request: https://github.com/SpaceMadness/lunar-unity-console/pull/51.
Asset Store update is still pending.

[2017-04-04 02:25] #50 closed

[2017-04-04 14:30] eandropov commented on #50
Thx, it works well on ios, but i found same issue on android too

[2017-04-04 15:36] weeeBox opened #52 "Wrong layout with large log message on Android"
Same issue as https://github.com/SpaceMadness/lunar-unity-console/issues/50

[2017-04-04 15:37] weeeBox commented on #50
I've opened another ticket for it: https://github.com/SpaceMadness/lunar-unity-console/issues/52

Thanks for reporting.

[2017-04-05 06:54] weeeBox commented on #52
Fixed in v1.2.2

To fix manually replace `Assets/LunarConsole/Editor/Android/res/layout/lunar_console_layout_log_details_dialog.xml` with [Native/Android/LunarConsole/lunarConsole/src/main/res/layout/lunar_console_layout_log_details_dialog.xml](https://github.com/SpaceMadness/lunar-unity-console/blob/develop/Native/Android/LunarConsole/lunarConsole/src/main/res/layout/lunar_console_layout_log_deta

[2017-04-05 06:54] #52 closed

[2017-04-05 06:55] weeeBox commented on #50
@eandropov, Android issue is fixed: https://github.com/SpaceMadness/lunar-unity-console/issues/52

[2017-04-10 02:22] weeeBox commented on #48
Hi, @Seromu!

Sorry it took so long (Unity 5.6 release was tough) but I finally addressed both of your issues (https://github.com/SpaceMadness/lunar-unity-console/issues/48 and https://github.com/SpaceMadness/lunar-unity-console/issues/45). It usually takes 3-5 days for the package update to propagate on the asset store. Send me an [email](mailto:lunar.plugin@gmail.com)  and I'll send you the upda

[2017-04-10 02:22] #48 closed

[2017-04-10 02:22] weeeBox commented on #45
Fixed in 1.3.0

[2017-04-10 02:22] #45 closed

[2017-04-10 07:57] Seromu commented on #48
Great! I'll wait for update on asset store. Thank you! :+1:

[2017-04-26 10:55] Myrtanim opened #58 "Is Editor support planned?"
Is there anything planned to get the console also running in the editor in playmode? Especially the Actions and Variables part?

[2017-04-26 15:01] weeeBox commented on #58
Yes. It's in the roadmap

[2017-04-26 17:56] Myrtanim commented on #58
Can you give a rough ETA when this will happen?

[2017-04-26 17:59] weeeBox commented on #58
At least 1 weak

[2017-04-26 18:28] Myrtanim commented on #58
Ok, thanks, waiting eagerly to happen for this!
And keep up the great work, this is a really great tool!

[2017-04-26 18:29] weeeBox commented on #58
Thanks. I'll keep you posted.

[2017-04-27 03:57] weeeBox commented on #58
@Myrtanim, you can track the progress here: https://github.com/SpaceMadness/lunar-unity-console/pull/59

[2017-04-28 02:35] weeeBox commented on #58
Available in [v1.4.0](https://github.com/SpaceMadness/lunar-unity-console/releases/tag/1.4.0)

[2017-04-28 02:35] #58 closed

[2017-04-28 04:45] Myrtanim commented on #58
Oh, wow that was quick, thank you very much! Will test this out today.

[2017-04-28 06:20] weeeBox commented on #58
Sure! The package update is still pending (might take 3-5 days to fall through). You can update your files according to the [pull request](https://github.com/SpaceMadness/lunar-unity-console/pull/59) or send me an email and I'll send you the package.

[2017-04-28 09:36] Myrtanim opened #60 "Release 1.4.0 not compilable for Android"
Hi, with the recent 1.4.0 release I can't build Android versions anymore. I get compiler errors for `LunarConsole.cs`

![image](https://cloud.githubusercontent.com/assets/1941740/25523412/e2827956-2c06-11e7-8233-a9773e6f53b9.png)

[2017-04-28 15:45] weeeBox commented on #60
Confirmed. The on-device testing was scheduled for today. The package usually gets tested while pending on the Asset Store (saves a few days for production).

[2017-04-28 15:56] weeeBox commented on #60
@Myrtanim, here's PR for the issue: https://github.com/SpaceMadness/lunar-unity-console/pull/61. I'm going to do more testing before releasing. Feel free to update files and give it a try.

[2017-04-29 05:37] weeeBox commented on #60
@Myrtanim, the issue has been addressed. New update is pending.

[2017-04-29 05:37] #60 closed

[2017-05-01 22:14] weeeBox commented on #60
@Myrtanim, 1.4.0 is now live on the Asset Store

[2017-05-02 09:35] Seromu opened #63 "Can't not import 'lunar-console.aar' file."
[code]

I can't import Lunar Mobile Console PRO v1.4.0 even in new empty project(Unity 5.6.0f3).
I tried removing asset cache and retry download, but it didn't work.
(Cache path C:\Users\[USERNAME]\AppData\Roaming\Unity\Asset Store-5.x\SpaceMadness)

[2017-05-02 14:51] weeeBox commented on #63
Hi @Seromu,

Sorry for the issue. I'm not able to reproduce it right now. Let me check a few more things and I'll get back to you.

[2017-05-02 16:24] weeeBox commented on #63
@Seromu, I haven't fully tested it yet but it seems to be a path issue. Please, look at this [pull request](https://github.com/SpaceMadness/lunar-unity-console/pull/64) and let me know if it works for you

[2017-05-03 01:45] #63 closed

[2017-05-03 01:55] weeeBox commented on #63
Patch file: [lunar-console-patch-1.4.1.unitypackage](https://github.com/SpaceMadness/lunar-unity-console-patches/raw/master/lunar-console-patch-1.4.1.unitypackage)

[2017-05-03 02:25] Seromu commented on #63
Thank you for your feedback!
I'll check this next week! XD

2017/05/03 10:55、Alex Lementuev <notifications@github.com> のメッセージ:

[2017-05-03 11:20] Myrtanim commented on #60
Hey @weeeBox, thanks for this info, implementation is almost done in my project and it's working really great, thank you!

[2017-05-03 14:32] weeeBox commented on #60
Great! Let me know if you have any questions!

p.s. don't forget to rate the plugin on the Asset Store if you find it useful

[2017-05-04 21:38] weeeBox commented on #63
@Seromu, v1.4.1 is now live on the Asset Store

[2017-05-08 01:25] Seromu commented on #63
Thanks a lot! I'll adapt it on Asset Store(now you can remove patch file) XD

[2017-05-12 10:16] Myrtanim opened #67 "LunarConsole enforces READ_PHONE_STATE on Android"
Hi,

our game is asking on Android devices for the permission to do phone calls when Lunar is integrated.
This is because of your integrated analytics and it's usage of `UnityEngine.SystemInfo.deviceUniqueIdentifier`, which in turn causes Unity to automatically add  `android.permission.READ_PHONE_STATE` to the Android Manifest.

We don't use Lunar in release builds, but still it shocked our tester

[2017-05-12 15:33] weeeBox commented on #67
Hey @Myrtanim,

Let me look at it really quick and I'll get back to you

[2017-05-13 03:09] weeeBox commented on #67
@Myrtanim,

When I create an empty project with Lunar Mobile Console integrated there's no `android.permission.READ_PHONE_STATE` permission in the generated `AndroidManifest.xml` file:
[code]
Can you try to reproduce this behavior on a 'fresh' project? Are there any plugins or Android-specific APIs in the debug version of your project. Would this behavior be reproduced if you disable Lunar Mobile

[2017-05-15 12:38] Myrtanim commented on #67
Hey @weeeBox, I did some test and can still reproduce it but found some interesting Unity behaviour.

But first my setup (maybe this also matters), I'm using:
* IL2CPP
* .NET 2.0 (*not* subset)
* Development Build in Unity Build Settings
* Lunar Mobile Console PRO 1.4.0

What I actually found out is that it seems to depend on the Unity version.
With **5.3.6p8** I get the following `AndroidManifest

[2017-05-15 16:07] weeeBox commented on #67
Thanks for the info, @Myrtanim. I'll take a look!

[2017-05-16 05:07] weeeBox commented on #67
@Myrtanim, [1.4.2](https://github.com/SpaceMadness/lunar-unity-console-patches/raw/master/lunar-console-patch-1.4.2.unitypackage) patch is now available.

You can disable analytics by using `LUNAR_CONSOLE_ANALYTICS_DISABLED` preprocessor define: https://docs.unity3d.com/Manual/PlatformDependentCompilation.html

[2017-05-16 05:07] #67 closed

[2017-06-14 16:36] eandropov opened #69 "Wrong orientation on iOS 8.1.3"
Hello there. I found an orientation issue on iOS 8.1.3 and lower, can be reproduced on Unity 5.5.3f1 with "Auto Rotation" orientation setting and landscape right/left toggles. [Screenshot1](http://take.ms/QxT3h), [Screenshot2](http://take.ms/VTpbq) from ipad mini 2.

[2017-06-14 16:44] weeeBox commented on #69
Hey @eandropov! Thanks for reporting, I'll take a look at it.

[2017-06-15 14:24] ngrigoryev opened #70 "Error: Stale Touch Detected! on multitouch iOS"
Hello!
How to reproduce:
Create unity project with Lunar implemented.
Create canvas with render mode Screen space - overlay.
Create any image under canvas.
Create default event System.
Build for iOS and deploy on device. iOS 10.3.2 and 10.1.1, Unity 5.5.3f1 or 5.5.6p2 or 5.5.1p3.
In runtime place one finger on image and start tapping by second. There will be error:
Stale touch detected!
(Filename:

[2017-06-15 14:39] weeeBox commented on #70
Hi @ngrigoryev! Thanks for reporting, I'll take a look at it.

[2017-06-19 08:43] ngrigoryev commented on #70
Hi! Have you reproduced it?
If right solution is hard to achieve,  is it possible to customize messages to be warned/not warned about in console pop-up, so we can disable only this message for debug playtest stage? At this stage this pop-up is important to catch exception cases.

[2017-06-19 16:51] weeeBox commented on #70
Hi, @ngrigoryev! I'll look at it later today. Sorry it's taking long.

[2017-06-20 05:58] weeeBox commented on #70
It seems like there's an [issue](https://forum.unity3d.com/threads/stale-touch-detected.54074/) with CADisplayLink + CocoaTouch UI in Unity. Needs further investigation. For now, here's a patch which make the plugin ignore "stale touch" warnings.

https://github.com/SpaceMadness/lunar-unity-console-patches/blob/master/lunar-console-patch-1.4.4.unitypackage

[2017-06-20 05:58] #70 closed

[2017-06-20 08:12] ngrigoryev commented on #70
@weeeBox Thank you for your support :) 👍

[2017-06-20 15:03] weeeBox commented on #70
Sure! Don't forget to [rate and review](https://www.assetstore.unity3d.com/en/#!/account/downloads/search=Lunar%20Mobile%20Console) the plugin on the Asset Store if you find it useful!

[2017-06-23 18:50] eandropov opened #72 "NSRangeException at LUMutableArray.m:73"
Hello there, i've got an exception on ios:

Fatal Exception: NSRangeException
0  CoreFoundation                 0x182d842d8 __exceptionPreprocess
1  libobjc.A.dylib                0x194a500e4 objc_exception_throw
2  CoreFoundation                 0x182c6785c -[__NSArrayM removeObjectAtIndex:]
3                             0x101bec7bc -[LUMutableArray objectAtIndex:] (LUMutableArray.m:73)
4

[2017-06-23 18:58] weeeBox commented on #72
Hey, @eandropov.

Sorry for the issue!

- What is the console's capacity and the trim size?
- How often this crash happens? Do you have any specific reproduction steps?
- Do you have multiple threads in your game?

[2017-06-27 04:24] weeeBox commented on #72
Fixed in 1.4.5

[2017-06-27 04:24] #72 closed

[2017-08-01 13:23] LeoToivio opened #78 "onConsoleClosed not called when closing console with LunarConsolePlugin.LunarConsole.Hide();"
Hello!

I found a bug. `LunarConsolePlugin.LunarConsole.onConsoleClosed` is not called when closing console with `LunarConsolePlugin.LunarConsole.Hide();`.

I did a workaround by calling the action assigned to
`LunarConsolePlugin.LunarConsole.onConsoleClosed` right after hiding the console so no worries.

[2017-08-01 17:41] weeeBox commented on #78
Hey @LeoToivio,

Sorry for the issue. I'll take a look at it.

[2017-08-01 19:01] weeeBox opened #79 "Added Cvar flags for preventing values from being saved between sessions"
Make it possible not to save variables values between sessions

[2017-08-02 02:30] #78 closed

[2017-08-02 04:23] weeeBox commented on #79
Available in 1.4.7

[2017-08-02 04:23] #79 closed

[2017-08-03 09:30] Myrtanim opened #82 "Crash when losing internet connection"
Hey,

whenever we activate Lunar in our Debug builds and lose the internet connection (e.g. because we activate flight mode or just lose 3G connection), our app crashes.

Our build info is:
* **Platform:** Android
* **Scripting backend:** IL2CPP (does not happen with Mono)
* **Build options:** Debug builds, Lunar activated (does not happen with deactivated Lunar)

From logcat we get the following

[2017-08-03 12:53] LeoToivio opened #83 "Feature request: Organize Actions into sections"
Hello!

I'd like to be able to organize Actions into different sections.

Preferably the sections should be collapsable with a setting for whether it should be collapsed from start or not.

Two examples of what the syntax could look like below.
Sorted under Gameplay -  `LunarConsolePlugin.LunarConsole.RegisterAction("Gameplay/ActivatePowerup", PowerupEnabled)`
Sorted under Map - `LunarConsolePlugi

[2017-08-03 15:37] weeeBox commented on #82
Hey @Myrtanim,

I'm not able to reproduce the crash. Would you be able to provide some additional info?

- Lunar Mobile Console version
- Android OS version
- Device model
- Unity version
- Host OS version

Some more questions:
- Does it still crash on an "empty" project?
- Does the crash only occur when the internet goes down?
- Do you use multiple threads?

[2017-08-03 18:50] weeeBox opened #84 "Add parameter support for actions"
Allow quick actions to accept arbitary list of parameters

[2017-08-04 13:13] Myrtanim commented on #82
Hi @weeeBox,

- **Lunar Mobile Console version:** 1.4.4
- **Android OS version:** 6.0.1, 7.1.1
- **Device model:** HTC Nexus 9, Sony Xperia X F5121
- **Unity version:** 5.5.4p1
- **Host OS version:** Not sure what you mean with this, but the versions are built with Mac OSX 10.12.6 and 10.12.5

Some more questions:

- **Does it still crash on an "empty" project?**
  - no, with Lunar-only
  - no, wi

[2017-08-04 16:37] weeeBox commented on #82
Thanks for the detailed info.

If I understand it correctly, the plugin does not crash the app when integrated into a new project alone or with BestHTTP. Is that correct?

Can you list all the plugins you've been using in your project, too?

[2017-08-07 19:30] weeeBox commented on #82
Hey @Myrtanim,

Did you have a chance to look at the issue?

[2017-08-08 07:30] Myrtanim commented on #82
Hey @weeeBox,

sorry for the long delay, but I was on vacation and had no internet access.

Yes, you are correct, the problem does not occur when I integrated Lunar into a new project, either with or without BestHTTP.

Regarding the plugin list, I will create one, but some are our internal and fall under NDA, let's see how far I can come with.

[2017-08-11 14:05] Myrtanim commented on #82
Hey @weeeBox, sorry for the long delay, here is our plugin list:

- Adjust Unity SDK (4.11.0)
- BestHTTP (1.9.5)
- Build Report Tool (3.2.1)
- Unity Memory Profiler ()
- Fabric for Unity (1.2.5)
- Firebase Cloud messaging tools (10.0.1) + internal wrappers
- Crashlytics for Unity (1.2.4)
- Facebook Unity SDK (7.9.4)
- Lunar Mobile Console - PRO (1.4.4)
- Newtonsoft JSON (9.0.1)
- Shortcut Badger (

[2017-08-11 17:30] weeeBox commented on #82
Hey @Myrtanim,

Thanks for the provided info. It's hard to tell. I'll review the plugin list and try to figure out what might cause this behavior.

[2017-08-18 01:33] weeeBox opened #85 "Can't build iOS project after generated folder is copied to another machine"
The build result for iOS platform is not portable

[2017-08-18 07:57] weeeBox commented on #85
New troubleshooting guide:
https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting#xcode-interface-builder-could-not-open-the-document-because-it-does-not-exist

[2017-08-18 07:57] #85 closed

[2017-08-18 20:01] weeeBox opened #87 "Variables are not saved when resetting in editor"

[2017-08-19 00:28] weeeBox commented on #87
Fixed in 1.4.9

[2017-08-19 00:28] #87 closed

[2017-08-19 21:56] weeeBox commented on #84
Available in 1.5.0

[2017-08-19 21:56] #84 closed

[2017-09-14 16:31] weeeBox opened #96 "NullReferenceException while clearing legacy files"
Sometimes Unity throws `NullReferenceException` while trying to remove the legacy files from the previous installation. There's something wrong with the importer.

[2017-09-14 16:34] weeeBox commented on #96
Fixed in 1.5.2

[2017-09-14 16:34] #96 closed

[2017-09-16 14:07] weeeBox opened #98 "Lunar console window won't pull down if the iOS system status bar is visible"
Lunar console window won't pull down if the iOS system status bar is visible (turn off "Status Bar Hidden" in Player Settings:
- Scripting Backend : IL2CPP
- iOS version 11
- Device mode: iPhone 6s
- Unity version 2017.1.1f1
- Host OS version OS X 10.12.6
- iOS only: Xcode version 9 beta 6

[2017-09-19 12:18] eandropov opened #99 "Feature request: onConsoleOpened/onConsoleClosed for editor"
Hi, I'd like to be able to subscribe to onConsoleOpened/onConsoleClosed events in editor too.
Also, it would be great if CRegistry can be set into ActionsAndVariablesWindow.
Thanks.

[2017-09-19 22:21] weeeBox commented on #99
Hi, @eandropov.

The `LunarConsolePlugin.LunarConsole.Show()` and `LunarConsolePlugin.LunarConsole.Hide()` calls would do nothing in the editor mode: no events are generated. Why do you need to subscribe to these events in the first place? I'm also not sure about this one:

Can you clarify?

Thanks,

-Alex

[2017-09-27 11:04] eandropov commented on #99
I have:
 - some internal value in a model without any change notification subscribes
 - CVar in some debug class
 - one way link from debug class to a model
I want to sync my value with this CVar somehow, for example on console open.

About CRegistry: I use my own log system instead of Debug.Log with Lunar as log view for mobile devices, so lunar singleton prefab does not fit.
But i need to use Ac

[2017-10-20 15:30] isolatedperson opened #100 "Console.OnMessageReceived Event"
Hi there,

Can you please provide a OnMessageRecieve Callback so when console receive any message we can trigger something on Unity side on Pro version.

Thanks

[2017-10-20 15:54] weeeBox commented on #100
Sure

[2017-10-20 16:03] isolatedperson commented on #100
@weeeBox thank you very much for your quick response, can you give a rough idea when can we see it?

[2017-10-20 23:43] weeeBox commented on #100
If you just need to capture the log event you can use a built-in Unity API: https://docs.unity3d.com/ScriptReference/Application-logMessageReceived.html

[2017-10-21 02:05] isolatedperson commented on #100
@weeeBox thank you very much, this does solve the issue 💃

[2017-10-21 02:05] #100 closed

[2017-10-26 11:20] Snow-Okami commented on #63
I am having this same issue with the Pro version from the asset store: 1.51 - Unity 5.6.4. Any suggestions?

[2017-10-26 17:10] weeeBox commented on #63
@Snow-Okami, usually deleting/re-importing the plugin fixes the issue.

[2017-10-28 10:06] Snow-Okami commented on #63
I have tried this multiple times but it seems I always get the error. (Windows 10, with Android SDK, NDK and JRE installed) I installed the patch posted earlier up over my 1.51 installation and now I get a second error in Autorun.cs in the LegacyAsset function. Seems to still work on my android device though. I commented out the line that runs that function.

[2017-10-29 16:52] weeeBox commented on #63
@Snow-Okami, sorry for the issue. I'll take a closer look.

[2017-11-18 05:38] Droid22 opened #102 "NullReferenceException"
`NullReferenceException: Object reference not set to an instance of an object
UnityEditor.Editor.get_referenceTargetIndex () (at C:/buildslave/unity/build/artifacts/generated/common/editor/EditorBindings.gen.cs:162)
UnityEditor.Experimental.AssetImporters.AssetImporterEditor.get_referenceTargetIndex () (at C:/buildslave/unity/build/Editor/Mono/ImportSettings/AssetImporterEditor.cs:25)
UnityEditor.

[2017-11-18 17:53] weeeBox commented on #102
Sorry for the issue. I'll take a look

[2017-11-22 00:28] weeeBox commented on #102
Fixed in 1.5.2

[2017-11-22 00:28] #102 closed

[2017-12-27 16:21] yangicher opened #104 "Console blocks app after minimize/restore"
1. Launch app with enabled Lunar
2. Minimize/restore app

Device mode: Nexus 5
Android 6.0
Unity version 2017.2.0f3
Lunar Version: 1.5.2

Lunar settings:
exception warning - true
trans log overlay - true
sort actions - true
sort variables - true
email -
capacity 4096
trim 512
gesture - swipe down
remove rich text tags - false

[2017-12-27 17:26] weeeBox commented on #104
Hi @yangicher, it's a known bug since Unity 5.6.x. I haven't found a workaround yet.

[2017-12-28 00:54] weeeBox commented on #104
@yangicher, I've prepared a workaround. Should we available on the asset store in the next couple of days (hope Christmas won't affect it too long)

[2017-12-28 02:03] #104 closed

[2017-12-28 02:29] weeeBox commented on #104
@yangicher, you can download the patch [here](https://github.com/SpaceMadness/lunar-unity-console-patches/raw/master/lunar-console-patch-1.5.3.unitypackage)

[2017-12-29 19:38] weeeBox commented on #104
@yangicher, did it solve your issue?

[2018-01-02 08:47] yangicher commented on #104
@weeeBox no(

[2018-01-04 20:09] weeeBox commented on #104
@yangicher, try to completely remove the plugin and install the latest version from the Asset Store

[2018-01-06 17:32] iBicha opened #106 "License?"
How is this repo licensed?

[2018-01-07 02:11] weeeBox commented on #106
https://github.com/SpaceMadness/lunar-unity-console/blob/master/LICENSE.md

[2018-01-07 02:11] #106 closed

[2018-04-26 09:17] leonidax opened #108 "Varibales are not found in Unity 2017.4.1f1"
Hi, we bought the pro version since I liked some features more than Touchconsole Pro but I have been facing a few problem with the code.

I tried to use the variables but the way it treats the assemblies would not find all the possible classes that are defined, I think Unity recently divided the assembly in several ones, this might have broken the variables functionality.

[2018-04-26 10:40] leonidax commented on #96
I had this issue in 1.5.2, I just commented the updating code for now

[2018-05-25 13:30] leonidax opened #111 "Show actions and varialbes"
We have a case where we want to show the actions and variables directly without having to go through the console. Right now I can only explicitly show the console but there is no parameter to indicate that I want to go directly to the cheats.

[2018-05-25 14:19] weeeBox commented on #111
You can register/unregister actions programmatically:
https://github.com/SpaceMadness/lunar-unity-console/wiki/Actions-and-Variables#using-actions-api

On Fri, May 25, 2018, 6:30 AM Leon Moctezuma <notifications@github.com>
wrote:

On May 25, 2018 6:30 AM, "Leon Moctezuma" <notifications@github.com> wrote:

We have a case where we want to show the actions and variables directly
without having to g

[2018-07-27 11:01] Si1ver opened #112 "Signing contributing license"
Hey, Alex!

I saw that you added contributing license to the project. Is it still work in progress or it's done and I can sign it?

Also we can mention other contributors in this issue so they may decide to also sign the license.

[2018-08-27 18:06] Si1ver commented on #112
I decided to mention you in case you'we missed my post.
@weeeBox

[2018-09-04 15:01] re-cheid opened #113 "Settings Screen not working on Android in Unity 2018.x"
The settings screen is displayed black on Andriod when built with Unity 2018.x
With Unity 2017.3 it works as expected.

I'm using Lunar Mobile Console - PRO v1.5.3
Tested with OnePlus One (Android 6) and Asus ZenPhone AR (Android 7)

[2018-09-04 15:04] weeeBox commented on #113
Hi @re-cheid,

Would you be able to provide some additional info?
- Scripting Backend (Mono/IL2CPP/.NET)
- Host OS version

[2018-09-06 10:50] re-cheid commented on #113
Hey @weeeBox

I tried with all scripting backends, same result. Seems like only the background color of the Settings screen is black.
I am working with Unity on Windows 10.
This only happens with Unity 2018.x

Here's a screenshot:
![image](https://user-images.githubusercontent.com/25147494/45153092-20b8d500-b1d3-11e8-9fb2-e16c2d9a606d.png)

[2018-09-06 17:33] weeeBox commented on #113
Thanks, @re-cheid.

Seems like something overrides the default theme. Can you list all the android plugins from you project?

[2018-09-06 20:32] re-cheid commented on #113
This is a clean Unity project, which i created for evaluating this error, only LunarConsole in it.

[2018-09-07 14:41] weeeBox commented on #113
Hi @senkal,

Actions/variables use the same theming as log view. I'm looking at the issue right now.

[2018-09-07 14:49] senkal commented on #113
Hi @weeeBox

Thank you for fast update.
Hopefully you will be able to resolve the issue.

[2018-09-24 15:03] sinhadanish opened #114 "Does Not Swipe Up and Open Unity 2018.1 Android Build"

[2018-09-24 18:02] weeeBox commented on #114
Hey @sinhadanish,

Would you be able to provide some more info as described in the [Troubleshooting](https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting#before-you-start) guide?

[2018-10-24 09:50] re-ckart opened #115 "Install does not set the Scene dirty"
When using `Window -> Lunar Mobile Console -> Install` the prompt suggest to save the scene afterwards.
But when the Prefab gets added to the scene the scene isn't set to dirty so it is not possible to save it.

It seems that you are missing an `Undo.RecordObject` in your editor script.

Unity Version: 2018.2.5f1
Lunar Pro Version: 1.5.3

Workaround: As a workaround simply change somthing else in

[2018-10-24 16:08] weeeBox commented on #115
Hey @re-ckart,

Sorry for the issue. I'll take a look and get back to you.

[2018-11-03 23:14] weeeBox commented on #114
Hey @sinhadanish,

Do you have any updates on this? I've tried Unity versions and devices - still can't reproduce. Can you also look at this [guide](https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting#swipe-gesture-does-not-open-the-console)?

[2018-11-28 16:40] weeeBox commented on #113
Fixed in 1.5.5 (update pending)

[2018-11-28 16:40] #113 closed

[2018-11-28 16:41] weeeBox commented on #69
iOS 8 is no longer supported

[2018-11-28 16:41] #69 closed

[2018-11-28 16:48] weeeBox commented on #113
Path file [available](https://github.com/SpaceMadness/lunar-unity-console-patches/blob/master/lunar-console-full-1.5.5-patch.unitypackage?raw=true)

[2019-01-18 08:35] Voresh opened #122 "ResolveVariables() error"
Scripting Backend: IL2CPP
Android version: 8.0.0
Device model: Samsung galaxy s8 plus
Unity version: 2018.3
Host OS version: Windows 10

Got this error on my device:
[Lunar Mobile Console] Unable to list types
System.Configuration.ConfigurationCollectionAttribute::.ctor
  at System.Configuration.ConfigurationCollectionAttribute..ctor (System.Type itemType) [0x00000] in <000000000000000000000000000

[2019-01-18 08:53] weeeBox commented on #122
I have already submitted the fix to this issue to the asset store. Update
pending. This should not affect free version.

On Fri, Jan 18, 2019, 12:35 AM Voresh <notifications@github.com wrote:

[2019-01-18 14:18] Voresh commented on #122
Thank you for your answer. I know that variables are only for pro version. But I really downloaded free once. What can be wrong and what should I do?

[2019-01-18 15:22] weeeBox commented on #122
You can download and import the [patch](https://github.com/SpaceMadness/lunar-unity-console-patches/blob/master/lunar-console-patch-1.5.6.unitypackage) file

[2019-01-19 22:11] weeeBox opened #123 "Can't enable Android plugin: unable to create importer for 'Assets/LunarConsole/Editor/Android/lunar-console.aar'. Re-install Lunar Mobile Console to fix the issue."
Mostly occurs on fresh installations

[2019-01-19 22:12] weeeBox commented on #122
Fixed in 1.5.6

[2019-01-19 22:12] #122 closed

[2019-01-20 04:25] weeeBox opened #124 "Ignoring variable '%s'"
Need to change it to the proper string formatting syntax

[2019-01-21 18:39] weeeBox commented on #122
@Voresh, 1.5.6 is now live

[2019-01-23 17:24] kinoc opened #125 "Variables not found (but quick fix)"

[2019-01-23 17:28] kinoc commented on #125
Sorry about that empty entry. After the upgrade to 1.5.6 my projects variables stopped displaying.
Changing the following code in LunarConsole.cs@345 caused them to reappear. There may be a better way, but it fixes it for me for now .

 private static IList<Assembly> ListAssemblies() {
            // for now only list the current assembly
            Assembly[] assemblies = AppDomain.CurrentDomain

[2019-01-23 18:15] weeeBox commented on #125
Hey @kinoc,

Sorry about the issue. Which Unity version do you use?

[2019-01-23 21:15] kinoc commented on #125
No problem, I remember seeing something like it before. Other members pushed the upgrade and I just had to re-search the issue.
I am using 2018.3.0f2 on Win 10 building for Android testing on a Samsung S8 . It shows up in play mode in my editor.

[2019-01-26 02:31] weeeBox commented on #125
Fixed in [1.5.7](https://github.com/SpaceMadness/lunar-unity-console/releases/tag/1.5.7)

[2019-01-26 02:31] #125 closed

[2019-01-29 19:39] senkal opened #127 "Lunar uses variables cache"
Hi,
I am not sure if somebody else encounter this "problem" but I couldn't find anything in the docs or issues.
In general, looks like Lunar Console caches user variables in a way which is confusing, to me at least.

What do I mean?
1. Create Lunar variable "playerSpeed".
2. Everything works I can edit it on my Android, awesome.
3. For any reason I don't want to expose this variable to Lunar conso

[2019-01-29 19:48] weeeBox commented on #127
Hey @senkal,

Sorry for the issue. I'll take a closer look.

[2019-01-29 20:40] senkal commented on #127
Thanks @weeeBox for fast answer.
If you won't be able to replicate the issue let me know, will try to be useful as much as possible.
Good luck.

[2019-01-29 22:14] weeeBox commented on #127
Thanks! I really appreciate that!

[2019-01-30 18:50] senkal commented on #127
Hi @weeeBox
My fault, didn't describe it well.
So the removed variables are removed from UI, that is not the problem I encounter.
The problem is, even if variables are no in UI and not in the code, they are still somehow applied.

Before you check this give me a week or so will try to create a simple project where this can be replicated.

[2019-01-30 21:54] weeeBox commented on #127
Hey @senkal,

I'm not 100% sure about this part

[2019-01-31 01:48] senkal commented on #127
Agree, looks really weird.
I am not sure how this could work.
Need some time to separate the issue.

[2019-01-31 06:00] weeeBox commented on #127
More information would definitely help troubleshooting!

[2019-02-08 04:11] geekrelief opened #128 "Setup Variables at runtime, and document it."
To create Variables at runtime I did this.  It should be mentioned in the docs.

`
public class SettingsConsoleVariables : MonoBehaviour
{
    public Settings settings;
    public static CVar factor;

    private void Start()  // Note: setup on Start not Awake
    {
        LunarConsole console = GetComponent<LunarConsole>();
        factor = new CVar("factor", settings.factor);
        factor.Add

[2019-02-08 04:17] geekrelief opened #129 "Color tags don't work for logs"
Is it possible to change the log text color?  My text is current black, so it's hard to see if the game is dark.

[2019-02-08 04:21] geekrelief opened #130 "Add a position option for the transparent overlay"
Being in the upper left hand corner the text gets cut off on a rounded screen and potentially screens with notches (I'm assuming).  Also, the position could overlay UI elements making visibility poor.  Have a way to position the text in the settings or via API would help.

[2019-02-08 04:26] geekrelief opened #131 "Add length and time options for transparent overlay"
It'd be very useful to be able to customize the length of time and how many lines of text appear on screen for the overlay.  Add the options in the settings or via API to control it.  This is useful in conjunction with the position feature requested in #130 to improve visibility of messages.

[2019-02-08 15:30] senkal commented on #127
So in the end it didn't make sense.
After more digging I think I found the issue and wasn't strictly related to Lunar Console, more to invalid way I used it.
I mixed some Awake/Start order in my project.
I think it's ok to close this issue, in the end there was no issue to begin with.

[2019-02-08 15:43] weeeBox commented on #127
Glad you were able to figure this out! Don't forget to rate and review the plugin if you find it useful!

[2019-02-08 15:43] #127 closed

[2019-02-08 16:27] senkal commented on #127
@weeeBox I already did, so don't worry :)

[2019-03-08 09:23] brzGatsu opened #133 "ResolveVariables increases time to enter Play Mode"
~200ms are spent (for me) in ReflectionUtils.FindTypes when entering play  mode. The call is caused by  LunarConsole.OnEnable->EnablePlatform->InitPlatform->ResolveVariables.  Is this something you can optimize?

[2019-03-08 09:24] brzGatsu opened #134 "Option to disable Update check/Tracking"
Can we please have an option to disable the update check in Autorun.cs (costs time to enter playmode)? Also an option to disable tracking would be nice (data privacy).

[2019-03-09 12:16] oddgames-david commented on #134
+1 currently breaking my builds due to dns issues.

[2019-03-15 09:23] Temka193 opened #135 "I get an exception in Unity 2018.3.7f1"
`[Lunar Mobile Console] Unable to list types for assembly: Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
Exception of type 'System.Reflection.ReflectionTypeLoadException' was thrown.
  at (wrapper managed-to-native) System.Reflection.Assembly.GetTypes(System.Reflection.Assembly,bool)
  at System.Reflection.Assembly.GetTypes () [0x00000] in <d7ac571ca2d04b2f981d0d

[2019-03-25 17:49] weeeBox opened #136 "Graphical glitches on iPhone X"
![IMG_0029](https://user-images.githubusercontent.com/786644/54942051-86f51300-4eeb-11e9-9268-b34a53037d70.PNG)
![IMG_0028](https://user-images.githubusercontent.com/786644/54942059-89f00380-4eeb-11e9-90ed-62d02b8b5354.PNG)

[2019-03-28 04:23] weeeBox commented on #129
Log overlay color configuration added in 1.6.0

[2019-03-28 04:23] #129 closed

[2019-03-28 04:24] weeeBox commented on #131
Log overlay timeout and max visible lines configuration added in 1.6.0

[2019-03-28 04:24] #131 closed

[2019-03-28 04:26] weeeBox commented on #130
Notch supported added in 1.6.0

[2019-03-28 04:26] #130 closed

[2019-03-28 04:28] weeeBox commented on #124
Fixed in 1.6.0

[2019-03-28 04:28] #124 closed

[2019-03-28 04:29] #111 closed

[2019-03-28 04:29] #98 closed

[2019-03-28 04:33] #114 closed

[2019-03-28 04:33] weeeBox commented on #136
Should be fixed in 1.6.0

[2019-03-28 04:33] #136 closed

[2019-04-01 02:44] weeeBox opened #138 "iOS gesture detector sometimes fail to register when overlay is displayed"
Still not sure how to reproduce. Needs investigation.

[2019-04-04 00:02] mleenhardt opened #139 ""Can't init platform" on Android"
We're seeing the following exception when trying to initialize the plugin on Android. We're building using the built-in gradle build system with Unity 2018.3.0f2, we're using Lunar Console 1.6 (latest on the asset store). We're not seeing any issue on iOS, the console works just fine on this platform.

[code]

The APK seems to be containing what it should, I can see many Lunar Console related file

[2019-04-04 00:04] SpaceCadetRen commented on #139
Try re-installing the plug-in

On Wed, Apr 3, 2019, 5:03 PM Mathieu Leenhardt <notifications@github.com>
wrote:

[2019-04-04 00:16] weeeBox commented on #139
Hey @mleenhardt,

I just verified both PRO and FREE builds from the Asset Store: everything works as expected. Please, follow this [guide](https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting#before-you-start) to troubleshoot

[2019-04-04 01:20] mleenhardt commented on #139
I have re-installed the plugin before entering this ticket, it didn't seem to cause any files to change compared to before the re-install.

Should lunar-console.aar be anywhere in the built APK? I can see the file being written out to `/Temp/gradleOut/libs/lunar-console.aar` during the build process.

[2019-04-04 01:24] mleenhardt commented on #139
As far as I can tell, the "Install" menu in the Lunar Console option just creates a prefab in the current scene. Is having the prefab in the first scene at edit time a requirement?

[2019-04-04 01:28] weeeBox commented on #139
No, there's no such requirement. I would need to take a closer look at it.
It would be helpful if you can share more integration details or a sample
project.

On Wed, Apr 3, 2019, 6:24 PM Mathieu Leenhardt <notifications@github.com>
wrote:

[2019-04-05 02:09] mleenhardt commented on #139
It turns out that this was caused by Proguard minification. We previously had `EditorUserBuildSettings.androidDebugMinification` and `EditorUserBuildSettings.androidReleaseMinification` set to `AndroidMinification.Proguard`. Setting them to ` AndroidMinification.None` fixes the issue and causes the console to work fine. I'm assuming that using a custom Proguard template and explicitly specifying t

[2019-04-05 02:18] mleenhardt opened #140 "App crashes on iOS"
We're seeing a crash on an iPhone 8+ running iOS 11.4. We're using IL2CPP, 2018.3.0f2 and Lunar Console 1.6.

1- Have the log overlay enabled
2- Swipe down and open the console
3- Disable all 3 log types (debug/info, warning, error/assert/exception) by taping on each icon on the top right
4- Close the console, do something that causes a log line of any kind to be written
---> The app crashes

[2019-04-05 02:21] weeeBox opened #141 "Create ProGuard rule for Android native bridge"
Currently ProGuard obfuscates all classes

[2019-04-05 02:22] weeeBox commented on #139
Thanks for the info. I've created a separate [issue](https://github.com/SpaceMadness/lunar-unity-console/issues/141) to track it.

[2019-04-05 02:24] mleenhardt commented on #123
We worked around this by having AndroidPlugin.SetEnabled retry in case it wouldn't be able to create an importer, which fixes the issue.

[code]

[2019-04-05 02:30] weeeBox commented on #140
@mleenhardt, sorry about the issue. I'm working on the fix.

[2019-04-05 02:58] weeeBox commented on #140
@mleenhardt, I've uploaded a patch file which fixes the crash: [lunar-console-full-1.6.1-patch.unitypackage](https://github.com/SpaceMadness/lunar-unity-console-patches/blob/master/lunar-console-full-1.6.1-patch.unitypackage?raw=true). I'll submit an update to the asset store later today.

[2019-04-05 03:43] weeeBox commented on #139
@mleenhardt, here's ProGuard config file (`Assets/Plugins/Android/proguard-user.txt`)
[code]

[2019-04-05 03:43] #139 closed

[2019-04-05 04:55] weeeBox commented on #141
Custom ProGuard config: https://github.com/SpaceMadness/lunar-unity-console/blob/master/Project/Assets/Plugins/Android/proguard-user.txt

[2019-04-05 04:55] #141 closed

[2019-04-05 04:55] weeeBox commented on #140
Fixed in 1.6.1

[2019-04-05 04:55] #140 closed

[2019-04-05 09:47] BoatWar commented on #135
Similarly on Unity 2018.3.9f1, and Lunar 1.6.1

[code]

[2019-04-06 01:41] weeeBox commented on #135
@AlexZonov, I'm preparing the fix. In a meantime, would you be able to run your project with `LUNAR_DEVELOPMENT` [custom define](https://docs.unity3d.com/Manual/PlatformDependentCompilation.html) and collect all log messages which look like this one: `[Lunar Mobile Console] Checking 'XXX, Version=X.X.X.X, Culture=XXX, PublicKeyToken=XXX'...`?

[2019-04-06 02:18] weeeBox commented on #128
@geekrelief, unfortunately, it didn't end up as a quick fix. I have to think about better variables handling. Stay tuned...

[2019-04-08 15:51] weeeBox commented on #135
Fixed in 1.6.2

[2019-04-08 15:51] #135 closed

[2019-04-08 15:54] weeeBox commented on #134
Fixed in 1.6.2

- Use `LUNAR_CONSOLE_ANALYTICS_DISABLED` to disable tracking
- Use `LUNAR_CONSOLE_UPDATER_DISABLED ` to disable updater

[2019-04-08 15:54] #134 closed

[2019-08-13 08:10] nicloay commented on #63
Have the same problem with pro version on unity 2018.3.3f1 tried to reinstall several times with no luck. I have several version of unity installed on my mac, and 2018 is located at not default folder (/Applications/Unity2018/...)

[2019-08-13 10:19] weeeBox commented on #63
@nicloay, the importer throws an exception but still able to properly import the aar file. I have no idea how to fix it but the console seems to be working fine!

[2019-08-14 12:34] leonidax opened #146 "Range Sliders"
It would be nice to have float and int range sliders

[2019-08-14 12:35] leonidax opened #147 "Color Picker"
It would be nice to have a Color picker as CVar.

[2019-08-14 18:08] weeeBox commented on #146
Hey @leonidax, range sliders already available: https://github.com/SpaceMadness/lunar-unity-console/blob/master/Project/Assets/Scripts/Variables.cs#L36

I'll update the documentation shortly

[2019-08-14 18:08] #146 closed

[2019-11-01 07:05] novavision opened #149 "Errors on iOS build Unity 2019.3beta"
After migrating to 2019.3 beta build the app in XCode I get these errors:

  "_OBJC_CLASS_$_CSSearchableItem", referenced from:
      objc-class-ref in BranchCSSearchableItemAttributeSet.o
  "___lunar_console_destroy", referenced from:
      _PlatformIOS___lunar_console_destroy_m114FF77F0B6C0406EE23823E9DF73FA24713B2B1 in Assembly-CSharp8.o
      _PlatformIOS_Destroy_m212E1231F3D661AAC685C133619F0

[2019-11-01 13:52] weeeBox commented on #149
Hey @novavision,

Sorry for the issue. I'll take a look at it asap

[2019-11-02 23:11] mgazisalik opened #150 "Build input file cannot be found on Xcode"
I have getting this error on XCode:

Unity version: 2019.2.10f1

[2019-11-03 14:21] weeeBox commented on #150
Hey @mgazisalik,

Can you talk a look at the [Troubleshooting Guide](https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting) and see if it resolves the issue?

[2019-11-03 22:57] weeeBox commented on #149
Hey @novavision,

Unity 2019.3 introduced breaking changes to `PBXProject`. Please, try this patch and let me know if it works for you.

[lunar-mobile-console-1.6.3-patch.unitypackage.zip](https://github.com/SpaceMadness/lunar-unity-console/files/3802257/lunar-mobile-console-1.6.3-patch.unitypackage.zip)

[2019-11-04 03:04] novavision commented on #149
sorry, what should I do with these files from zip archive? [https://take.ms/SxXVr](image)
Using it as a package to import in Unity I got the message "All assets from this package already in a project"

[2019-11-04 21:54] weeeBox commented on #149
Fixed in `1.6.3`

The patch file could be found [here](https://github.com/SpaceMadness/lunar-unity-console-patches/raw/master/lunar-console-full-1.6.3-patch.unitypackage)

[2019-11-04 21:54] #149 closed

[2019-11-04 21:56] weeeBox commented on #123
@mleenhardt, I've incorporated your changes into `1.6.3` release. Feel free to open a [pull request](https://github.com/SpaceMadness/lunar-unity-console/pull/new/develop) in the future.

[2019-11-04 21:56] #123 closed

[2019-11-13 04:22] novavision opened #152 "[feature request] improve log sent by email to html based"
There is a great feature I saw in other logging assets where the log been sent as HTML file with expandable fields (stack trace) and view like Unity editor console has. Would be great to see it in paid version

[2019-11-13 15:48] weeeBox commented on #152
Hey @novavision,

Can you also provide the names of the assets for the reference?

[2019-11-13 15:59] novavision commented on #152
For example [Touch Console Pro](https://assetstore.unity.com/packages/tools/gui/touchconsole-pro-25559)
That's how [html](https://take.ms/I72Bg) view looks like

[2019-12-20 02:53] dorkbot opened #154 "Xcode error → Build input file cannot be found: … Assets/LunarConsole/Editor/iOS/Common/Controllers/Settings/LUSettingsTableCell.xib"
Unity created an iOS build with no errors. However in Xcode I’m getting this error → Build input file cannot be found: … Assets/LunarConsole/Editor/iOS/Common/Controllers/Settings/LUSettingsTableCell.xib

Any ideas?

[2019-12-20 15:48] weeeBox commented on #154
Hey @dorkbot, can you try [this](https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting#xcode-interface-builder-could-not-open-the-document-because-it-does-not-exist)?

[2019-12-28 10:11] zudl opened #155 "UISwipeGestureRecognizer breaks iOS multitouch"
While Gesture is set to SwipeDown iOS multitouch have strange behaviour
1) Put down finger 1 (don't move!)
2) Put down finger 2 (don't move!)
3) Remove finger 1 (still don't move your fingers across the screen)
4) No events for finger 1 (OnPointerUp or Touch.Phase == ended) came until finger 2 is moved

Tested on minimal repro:
Unity 2019.2.17f1, Lunar Console Pro 1.6.4, Input Manager, 1 Canvas, s

[2019-12-28 17:25] weeeBox commented on #155
Hey @zudl,

Would you be able to attach the sample project where you reproduced the issue?

[2019-12-28 19:30] zudl commented on #155
[InputTest.zip](https://github.com/SpaceMadness/lunar-unity-console/files/4007369/InputTest.zip)
Hi, @weeeBox
Yep, just add Lunar.

[2019-12-28 20:20] weeeBox commented on #154
Hey @dorkbot,

Have you figured it out for a chance?

[2020-01-20 17:43] novavision opened #156 "Console opens automatically on app start, and reopen just after click "close""
I am on Unity 2019.3b8 and experiencing the issue on Android build - when app starts console is showing up. Trying to close it clicking on "close" button, console opens again just after get hidden.
Android 10, Xiaomi K20Pro

[2020-01-20 17:51] weeeBox commented on #156
Would you be able to debug the build from Android Studio? I haven't seen this before.
Place to put a breakpoint: https://github.com/SpaceMadness/lunar-unity-console/blob/master/Native/Android/LunarConsole/lunarConsole/src/main/java/spacemadness/com/lunarconsole/console/ConsolePluginImpl.java#L152. We need to know what triggers the code.

[2020-01-21 02:12] novavision commented on #156
Sorry, but I can't setup gradle build on my end, it's full of errors and can setup it properly

[2020-01-21 11:04] novavision commented on #156
Btw, just checked on iOS - everrything is fine there

[2020-01-21 14:17] weeeBox commented on #156
No worries. Can you try to reproduce the issue on a "hello world" app with nothing but Lunar Console in it?

[2020-01-21 14:55] novavision commented on #156
Will try, but I assume the reason is in VoxelBusters Native Plugin update. Somehow both assets worked fine together, but 2 days ago I had an error building for Android. Googling the solution I found the thread on their forum recommending to update these [files](https://drive.google.com/drive/folders/1eRXP_jYi-gBbrsYqBxuiMptM1rYnzkPf) for Unity 2019.3b.
May be you can find some conflict in GradlePo

[2020-01-21 16:49] weeeBox commented on #156
So basically, when you updated the VoxelBusters Native Plugin - things broke, right? From the `GradlePostProcessor.cs` file I can see that they force the app to use AndroidX. It's very tricky to provide a compatibility between Support library (Lunar Mobile Console and Unity in general) and AndroidX (VoxelBusters). Unity does not support it yet. I'll take a look but can't guarantee a quick and easy

[2020-01-25 06:02] novavision commented on #156
@weeeBox please close this issue, it wasn't related to the asset itself.

[2020-01-25 16:30] #156 closed

[2020-02-19 05:25] novavision opened #158 "Standalone builds support"
Hi,

I really enjoy to use your asset and purchased PRO version some months ago. Unfortunately, I still need to use another console asset for my standalone projects. Is there any chances to you implement standalone support? (Mac/Win)

[2020-02-19 16:04] weeeBox commented on #158
Hey, @novavision,

Thanks! I was planning for that but the feature development is very slow right now. I'll keep you posted!

[2020-02-26 11:25] Mrgove10 opened #159 "Use Unity Package Manager (UMP)"
Hello,
To make the install simpler, mabey look into implementing it into the unity package manager ?

[2020-02-26 15:40] weeeBox commented on #159
@Mrgove10, will do. Thanks!

[2020-03-05 10:29] golergka opened #160 "Read-only variables"
Thanks for the plugin! Must have been best-spent money in Unity Asset Store.

Could you please implement read-only variables? I often want to expose some game state for debug purposes, but it wouldn't make sense to support editing it.

[2020-03-23 11:19] Nathanovic commented on #63
I also have this issue, tried deleting the LunarConsole folder and re-importing. Didn't work. Any way to fix this error?

[2020-03-24 20:35] weeeBox commented on #63
@Nathanovic, does the plugin work on Android?

[2020-03-24 20:55] Nathanovic commented on #63
@weeeBox Excuse me. Re-importing actually did work, but I had to restart Unity first!
The plugin works fine on Android.

[2020-03-26 09:50] golergka opened #161 "Registering and unregistering variables at runtime"
Please add support for registering and unregistering different variables at runtime. Having one set of variables for the whole game runtime doesn't fit many scenarios.

[2020-03-29 01:10] DicyLow opened #162 "Tengo un pequeño problema sobre grud"
![20200328_193859](https://user-images.githubusercontent.com/57680849/77837491-ea85d200-7137-11ea-9c28-b356416f0e7e.jpg)

**_
Error: Unknown FileSystem. Entering Rescue Mode ... Grud Rescue
_**

Quiero saber si alguien me puede ayuda con ese problema que me sucedes cada que intento instalar Android x86 en una laptop que tengo que un poco antigua. Y quiero sobrevivirla.

Ayuda por favor Algun conse

[2020-03-29 03:48] weeeBox commented on #162
Hello,

I believe you've opened an issue in a wrong repo

[2020-03-29 03:48] #162 closed

[2020-03-30 04:35] JamesKim2998 opened #163 "Compilation failure on unity 2020.1.0b3"
Lunar console cannot be compiled due to the lines below.
https://github.com/SpaceMadness/lunar-unity-console/blob/94b5382481632cf253d824f50d3b4857fe7485ed/Project/Assets/LunarConsole/Editor/AndroidPlugin.cs#L43-L49

I guess the signature of `EditorApplication.delayCall` should be `UnityEditor.EditorApplication.CallbackFunction`.

Thanks.

[2020-03-30 21:22] weeeBox commented on #163
Seems like they've introduced a breaking change. Thanks for reporting: I'll take a loot at it!

[2020-04-20 16:31] quilombodigital opened #164 "Cant build project from another machine because absolute paths"
Hi.

I bought the PRO version, but I have an issue.

Here at my work I build my unity project at my windows machine, and copy the directory to a mac build machine, where I open it in xcode to build it.
The problem is that it does not find the lunarconsole files, since it tries to find at absolute path, at the original machine.
I managed to make it work by copying the lunarconsole directory to the

[2020-04-20 16:42] weeeBox commented on #164
Hey @quilombodigital, please try this [workaround](https://github.com/SpaceMadness/lunar-unity-console/wiki/Troubleshooting#xcode-interface-builder-could-not-open-the-document-because-it-does-not-exist).

[2020-05-09 12:07] novavision opened #165 "Feature request: colored logs, same as in Editor"
During last month I started to use colored `Debug.Log` in Unity, and really helps a lot when each game manager provide logs according to it's unique color.
As you know the code is something like that:
`Debug.Log("<color=green>Notifications: {messsage}"`
Unfortunately Lunar Console doesn't support it and I see extended log without color convertation.
Would be great to implement it.

[2020-05-10 16:09] weeeBox commented on #165
Added to the roadmap.

[2020-05-31 12:39] Bakalino opened #166 "Init error in Unity 2019.3"
I get the following init error when i start play mode in Unity 2019.3

[Lunar Mobile Console] Can't init platform
__lunar_console_initialize
  at (wrapper managed-to-native) LunarConsolePlugin.LunarConsole+PlatformIOS.__lunar_console_initialize(string,string,string,string)
  at LunarConsolePlugin.LunarConsole+PlatformIOS..ctor (System.String targetName, System.String methodName, System.String vers

[2020-05-31 14:53] weeeBox commented on #166
Hey @Bakalino, do you use Device Simulator package or just regular play mode?

[2020-05-31 15:30] Bakalino commented on #166
@weeeBox Yes, i am using Device Simulator. When i change it to regular game view i don't have the init error ...

[2020-05-31 17:35] weeeBox commented on #166
What Device Simulator version do you use?

[2020-05-31 17:37] Bakalino commented on #166
Version Preview 2.2.2

[2020-05-31 17:38] weeeBox commented on #166
Thanks, I'll take a closer look

[2020-06-03 01:01] weeeBox commented on #166
@Bakalino, I have a hard time reproducing this. Would you be able to create an empty project on your machine, integrate the plugin and see if the issue persists?

[2020-06-05 08:08] Bakalino commented on #166
Hi, i tried to reproduce it on the latest version of Unity 2019.3.15f1 and i can't reproduce it ... maybe it could be related to the unity version.

[2020-06-05 14:53] weeeBox commented on #166
Feel free to re-open the issue if the problem persists

[2020-06-05 14:53] #166 closed

[2020-06-11 01:56] huucaoco151 opened #167 "Crash on Android in latest version 1.6.5"
Model HTC One M8
Android OS 6.0
Unity 2019.3.4f1
Previous version no issue

[2020-06-11 14:30] weeeBox commented on #167
Fixed in 1.6.6

[2020-06-11 14:30] #167 closed

[2020-06-15 13:56] Voresh opened #168 "IOS build failure"
When I am trying to build project with lunar with xcode I get this error: Build input file cannot be found: '/Volumes/_ProjectPathHere_/Assets/LunarConsole/Editor/iOS/Common/Console/Log/LUConsoleLogDetailsController.xib
I added LUNAR_CONSOLE_EXPORT_IOS_FILES define to unity project settings, but it doesnt work
Unity 2019.1.13
Xcode version 11.3.1
Lunar last version
I am build unity project on wind

[2020-06-15 15:04] weeeBox commented on #168
Hey @Voresh,

Can you check if the build folder contains "LunarConsole" folder?

[2020-07-14 09:47] Nezz opened #169 "Toggling Lunar Console from build preprocessor"
We'd like to use a build [preprocessor](https://docs.unity3d.com/ScriptReference/Build.IPreprocessBuildWithReport.html) to toggle Lunar Console in our builds. We tried calling `LunarConsolePluginEditorHelper.SetLunarConsoleEnabled`, but we noticed that the libraries are still included in iOS and Android builds.

Enabling and disabling the plugin seems to require the editor scripts to recompile fir

[2020-07-14 13:01] weeeBox commented on #169
Would be able to describe your preprocessor approach in more detail? I'm not sure, I'm fully understand it.

[2020-07-14 14:14] Nezz commented on #169
Sure, here's an example:
[code]

[2020-07-14 14:20] weeeBox commented on #169
As far as I understand, this approach is for command line builds, right?

[2020-07-14 14:49] weeeBox commented on #169
If you can run a command line before the build process you can do this:

`<UNITY_BIN_PATH> -projectpath <PROJECT_PATH>  -quit -batchmode -executeMethod LunarConsoleEditorInternal.Installer.DisablePlugin`

For more information see [this guide](https://github.com/SpaceMadness/lunar-unity-console/wiki/Enabling-and-Disabling-Lunar-Mobile-Console)

[2020-07-15 08:20] Nezz commented on #169
Yes, this is for command line build. We run builds in a single Unity execution to save time since Unity has a large launch time overhead. That's why we are asking for a solution that works without recompiling the project.

[2020-07-15 09:53] weeeBox commented on #169
Another option is to update `Project/Assets/LunarConsole/Scripts/LunarConsole.cs` file manually: you need to replace `#define LUNAR_CONSOLE_ENABLED` with `#define LUNAR_CONSOLE_DISABLED`.

For more details see: [disable_lunar_console.sh](https://github.com/SpaceMadness/lunar-unity-console/blob/master/Project/Assets/LunarConsole/Editor/Automation/disable_lunar_console.sh)

[2020-07-15 20:51] Nezz commented on #169
I'll take a stab at implementing this and submit a PR. Should be reasonably easy to do.

[2020-07-17 15:42] weeeBox commented on #169
Hey @Nezz,

Did you have a chance to look at it?

[2020-07-17 19:20] Nezz commented on #169
Yes, I'd have to make `LunarConsoleConfig.consoleEnabled` non-readonly and move `LunarConsolePluginEditorHelper.SetLunarConsoleEnabled` to the Editor assembly so it can call `AndroidPlugin.SetEnabled`. Does this sound good on a high level? I can submit a PR early next week.

[2020-07-17 19:44] weeeBox commented on #169
Should be fine for now. I'm planning to add Package Manger support and move away from preprocessor defines in 2.0.0 release.

[2020-07-22 11:58] Mefodei opened #170 "Dropdown View of List Variables"
in several cases most user friendly way: show only set of cheat variables values

[2020-07-22 14:51] weeeBox commented on #170
Added to the roadmap. Thanks

[2020-07-24 01:57] nikescar1 commented on #155
I have the same issue described. The problem does not happen on all iOS devices (this should make it fun to debug).

[Here is a video](https://youtu.be/YJ8s4cckErc) of it happening on a iPad. I'm waiting to hear back about what model number and iOS version is being used.

The game is running on Unity 2019.4.3.

[2020-07-26 16:15] weeeBox commented on #155
Hey @nikescar1,

Sorry for the issue. I need more time for the fix but as a quick workaround - try disabling swipe gesture in LunarConsole settings and open the console with an API call:
- To disable the gesture - change `Gesture` to `None` in the prefab settings:
![Screen Shot 2020-07-26 at 12 11 33 PM](https://user-images.githubusercontent.com/786644/88483988-52f38d00-cf39-11ea-9708-a7d5388c31fb

[2020-07-29 02:54] weeeBox commented on #168
Hey @Voresh, were you able to resolve the issue?

[2020-07-29 02:55] weeeBox commented on #165
Available in 1.7.0

[2020-08-02 10:06] nikescar1 commented on #155
Hi!

Thanks for the suggestion. I don't think that option will work since there's a couple bugs we're currently tracking that happen at game start before UI loads and during certain transitions in the game.

Thanks for looking in to this though. Lunar Console has been a huge help during development!

[2020-08-06 20:15] #169 closed

[2020-08-08 01:12] weeeBox commented on #170
Added in `1.8.0`.

Usage:
`public static readonly CEnumVar<MyEnum> myEnum = new CEnumVar<MyEnum>("My enum value", MyEnum.Two);`

[2020-08-08 01:12] #170 closed

[2020-08-08 01:13] #168 closed

[2020-08-08 01:14] #150 closed

[2020-08-11 07:37] Mefodei commented on #170
Thx, that's sound great

[2020-08-26 10:48] jozhn opened #178 "How to write log to file"
Is there any api to write log to file?

[2020-08-26 14:57] weeeBox commented on #178
I can make one. What's the use case?

[2020-08-26 15:28] jozhn commented on #178
Sometimes the game may crash while running, so we have to find the reason from the log file.

[2020-08-26 20:42] weeeBox commented on #178
Sure. I'll add it to the roadmap.

[2020-09-11 17:14] jonahgoldsaito opened #182 "Consistent crash initializing Firebase (Firestore) when Lunar Console is enabled"
First off, I'm a huge fan this project and its execution.

I recently posted [an issue on the Unity/Firebase](https://github.com/firebase/quickstart-unity/issues/775) repo that involves Lunar Mobile Console.

Essentially, when Firestore is initialized in Airplane Mode or if there's no internet connection for another reason, and Lunar is enabled (the full plugin via the menubar), there is an immedi

[2020-09-12 01:50] weeeBox commented on #182
Hey @jonahgoldsaito,

Sorry for the issue. Let me take a closer look and I'll get back to you asap!

[2020-09-12 01:54] weeeBox commented on #182
@jonahgoldsaito, do you happen to have an example project where the issue is easily reproducible?

[2020-10-30 13:42] Nezz opened #183 "App fails to launch on iOS 14.2 beta"
We encountered an issue with our app when running on the iOS 14.2 beta: the app fails to launch with Lunar Console 1.8.0 enabled. The crash report isn't really useful, it just shows that the app is stuck while loading. Disabling Lunar Console resolves the issue.

[code]

[2020-10-30 14:23] weeeBox commented on #183
@Nezz, what device and Xcode version do you use?

[2020-10-30 14:34] Nezz commented on #183
@weeeBox Xcode 12.1 and iPhone X, iPhone 11

[2020-11-02 08:08] alexanderzimmerman commented on #159
Is there any progress with being able to install via UPM?

[2020-11-06 05:54] MarkLaprairie commented on #183
I had the same issue, but with Lunar and iOS 14.2.
I tried Xcode 12.1 and 12.2 (RC).
Disabling Lunar console fixes the crash in Test Flight.
It works when you run the app directly from xcode to a device, but not through Test Flight.

[2020-11-09 16:54] weeeBox commented on #183
@Nezz, @MarkLaprairie, I can't reproduce this on my own. Would you be able to check if the issue persists in an empty app with just LunarConsole in it?

p.s. what other plugins do you use?

[2020-11-09 16:58] weeeBox commented on #183
Also, what Unity version do you use?

[2020-11-09 17:44] MarkLaprairie commented on #183
Hello Alex,

Thanks for replying- and thanks for the absolutely amazing tool!

This issue currently occurs on two of my titles using Lunar and Unity
2019.4.X (14f and something older) when launching through test flight. One
is forward rendered, one is deferred.

The forward rendered 2019.4.14f title has mostly standard packages included:
ARFoundation, AR Subsystems, ARCore XR Plugin, ARKit Face Tr

[2020-11-10 10:45] robinfischerinnogames commented on #183
We have the same issue. Two of our Apps do not start on iOS 14.2 when LunarConsole is included in the build. When running with Xcode 12.2 beta 4 it works. But starting that same app without having the Xcode debugger attached triggers the problem.

The App starts and we see the default grey iOS Storyboard Splash screen that appears before the Unity SplashScreen takes over. The app just hangs in tha

[2020-11-10 12:22] fknr opened #184 "iOS: Undefined symbols for architecture arm64 in ___lunar_console_destroy"
We recently updated from 1.6.3 to 1.8.0 and after that we noticed that sometimes our ios builds fail with this error message:

[12:49:42]: ▸ [35m[33m⚠️  ld: arm64 function not 4-byte aligned: _unwind_tester from /Users/macmini22/jenkins/workspace/tend_Frontend-multibranch_master/frontend/BuildPipeline/builds/ios/Libraries/libiPhone-lib.a(unwind_test_arm64.o)[0m
[12:49:44]: ▸ [35m[31m❌  Undefi

[2020-11-10 16:45] fknr commented on #183
We have the same issue on iOS 14.2 on an iPhone SE 2
Built with Unity 2019.4.14f1 and XCode 12.1

[2020-11-11 16:35] weeeBox commented on #184
Hey @fknr, can you check if `lunar_unity_native_interface.m` file is included in your Xcode project?

[2020-11-11 19:44] weeeBox commented on #183
@Nezz, @fknr, @MarkLaprairie, @robinfischerinnogames, I was able to reproduce the issue. Figuring out what's wrong...

[2020-11-12 19:09] weeeBox commented on #183
Most likely we're dealing with this: https://issuetracker.unity3d.com/issues/ios-unityframework-with-3rd-party-plugins-triggers-watchdog-termination-after-launch?_ga=2.73801047.413637617.1601901013-225196644.1542053313

The proposed workaround didn't work on my setup (Unity 2020.1.4f1, Xcode 12.2, iOS 14.2). Replacing `load` methods with `initialize` didn't work as well. Continue investigating.

[2020-11-12 19:44] weeeBox commented on #183
@Nezz, @fknr, @MarkLaprairie, @robinfischerinnogames, I've prepared a patch: it still takes around 20 seconds to launch from Xcode but it doesn't crash when you run it without the IDE. Please, let me know if it works for you!

[lunar-console-1.8.1-patch.unitypackage.zip](https://github.com/SpaceMadness/lunar-unity-console/files/5532899/lunar-console-1.8.1-patch.unitypackage.zip)

[2020-11-13 10:33] robinfischerinnogames commented on #183
Latest version on the Unity Asset Store (1.8.1) (which I guess is the same as the patch above) fixed the issue!
Thank you 👍

[2020-11-13 11:12] fknr commented on #183
I, too can confirm that the fix is working. Thanks a lot for the quick response 👍

[2020-11-13 15:46] weeeBox commented on #183
Fixed in 1.8.1

[2020-11-13 15:46] #183 closed

[2020-11-17 11:31] BGames31 opened #186 ""No Such File Or Directory" When building in XCode after moving the Unity Project"
**Steps**
1. Build with Unity, generate xCode Project
2. Move Unity project to another folder or hard drive.
3. Try to Build. The following error appears:
<img width="674" alt="Captura de Pantalla 2020-11-17 a la(s) 12 18 02" src="https://user-images.githubusercontent.com/52832761/99384803-3f957480-28d0-11eb-9ac7-76316f7d4da9.png">

Not related to the LUNAR_CONSOLE_EXPORT_IOS_FILES solution.
I gue

[2020-11-17 14:16] weeeBox commented on #186
Hey @BGames31,

I'm not sure what you mean by "Not related to the `LUNAR_CONSOLE_EXPORT_IOS_FILES` solution." Would you be able to clarify?

[2020-11-18 08:10] BGames31 commented on #186
Hey, of course excuse me, I meant that I know there is a similar issue that is resolved by putting "LUNAR_CONSOLE_EXPORT_IOS_FILES" in the Scripting Define Symbols field of Project Settings, which we already did but it doesn't seems to fix it.
Thanks!

[2020-11-18 14:28] weeeBox commented on #186
Thanks for clarifying. Can you check if:
- `LunarConsole` folder exists in your iOS build output folder
- `Libraries/Lunar Console` folder group exists in Xcode

[2020-11-26 06:30] flankechen opened #187 "lunar cause crash on ios 14.2"
ipa crashes on ios 14.2 something like:

`Exception Type:  EXC_CRASH (SIGKILL)
Exception Codes: 0x0000000000000000, 0x0000000000000000
Exception Note:  EXC_CORPSE_NOTIFY
Termination Reason: Namespace SPRINGBOARD, Code 0x8badf00d
Termination Description: SPRINGBOARD, <RBSTerminateContext| domain:10 code:0x8BADF00D explanation:[application<com.sensetime.xzarnavi>:512] failed to terminate gracefully

[2020-11-27 03:29] weeeBox commented on #187
@flankechen, what plugin version have you been using?

[2020-11-27 06:16] flankechen commented on #187
@weeeBox I try new v1.8.1 version. it's solved, thanks.

[2020-11-27 06:16] #187 closed

[2020-12-01 10:21] NudeNULL opened #188 "Standalone/Editor support for Variables/Actions"
It would be great to have the possibility to test the cheats (variables/actions) in Editor.
Also we are using the Standalone app to record the gameplay videos and screenshots, and these creatives are used for montage for google play and appstore page, so for this we also need cheats to advance faster in the game to record fast the creatives.

So I would like to have some kind of simple UI specific

[2020-12-29 19:23] drmaxandrianov commented on #183
Still facing same problem with Lunar Console 1.8.1 on Unity 2020.2.0f1. Game works if started from Xcode with Run button, but crashed if run from device itself.

[2021-01-12 12:28] diegoleao opened #189 "No time stamps on logs?"
We're using Lunar Console to track bugs on a client, but we don't know when the log happened, so it makes things very difficult to track.

Is there an option on the free or pro versions to enable them?

[2021-01-12 14:22] weeeBox commented on #189
No at this moment. Do you need them in the console window or in the report?

[2021-01-14 19:07] diegoleao commented on #189
In both, because the client sometimes send us prints, and sometimes use the copy/mail functions. If it is not asking too much, can you either show me where to put the timestamp in the code, or post a patch?

[2021-01-14 19:13] weeeBox commented on #189
The easiest approach would be to add a timestamp to each log statement before it's sent to the native code: https://github.com/SpaceMadness/lunar-unity-console/blob/master/Project/Assets/LunarConsole/Scripts/LunarConsole.cs#L617. I'll try to prepare a patch release until the end of the week.

[2021-01-14 19:29] diegoleao commented on #189
Ok! I'll do that, thank you for patching it and for the prompt response!

[2021-01-21 15:12] diegoleao opened #190 "Minor class naming improvement"
A very minor improvement:

There is a class name in Lunar called "JSONNode", that Visual Studio always hints at when creating web services using SimpleJSON (which is widely used, with 181.000 hits on google).

![image](https://user-images.githubusercontent.com/1707641/105368985-d89e7f80-5be0-11eb-9c8f-dc24e7375556.png)

I am a proponent of Lunar Console, but my team members complain about this alw

[2021-01-22 02:45] diegoleao opened #191 "Missing messages when sharing log"
Hi! Our clients are accustomed to using Lunar Console by now, "**but**" some of them learned to filter the log messages, for example, to only view the errors. Certainly a useful feature for them.

But when we ask them to share their logs via e-mail, we have to strongly emphasize that they do must NOT turn anything off visually, even warnings. But sometimes they forget, leading to big problems.

As

[2021-02-10 01:35] #190 closed

[2021-02-10 22:37] hfarrow commented on #184
I experience a similar problem intermittently with both 1.6.1 and 1.8.1. It's relatively rare but it seems that the Xcode project is not modified to include LunarConsole files.
![image](https://user-images.githubusercontent.com/88125/107581775-6bfa1d80-6bad-11eb-9e55-c48bce0d2ae7.png)
I don't have an example in front of me but going from memory, if you look in Xcode at the LunarConsole folder it's

[2021-02-11 14:46] weeeBox commented on #184
Yes, I have seen it myself before. Not sure about the best solution at this point. One of the possible ways might be to forcibly update the Xcode project on every build.

[2021-02-24 02:57] idbrii commented on #184
FYI, I had similar errors on LunarConsole 1.8.1 and Unity 2019.4.7 and I did **not** have lunar_unity_native_interface.m in my Xcode project.

[code]

I didn't have any luck trying to fix it after several attempts of deleting my build output directory, flipping the LUNAR_CONSOLE_EXPORT_IOS_FILES define, and messing with plugin import settings. But then when I reverted all my changes, defined LUNAR

[2021-03-08 15:56] hfarrow commented on #184
Interesting, I'm pretty sure I have had my active platform set to iOS before running a build, even when building from a script and still ran into this problem. I'll see if that is the case the next time I hit the problem.

[2021-03-08 16:13] AntonPetrov83 commented on #184
I think we can reproduce it in the editor: switch to non-iOS platform in Build Settings then execute an iOS build from the script through MenuItem for example.

[2021-03-08 18:52] hfarrow commented on #184
It makes sense now. I realized my build script will silently switch to iOS or Android targets if the active target is Standalone.

[2021-03-16 14:49] re-cheid opened #192 "Unity 2020.3 LTS"
Just upgraded to Unity 2020.3.0 f1 LTS version, and it seems that the `CallbackFunction` definition in `AndroidPlugin.cs` need to be adjusted again.

Currently it is:
[code]

which causes compile errors, found that the `UnityEditor.EditorApplication.CallbackFunction` definition works with that unity version

[2021-03-16 15:43] weeeBox commented on #192
Hi @re-cheid,

I'll take a look - thanks for reporting!

[2021-04-20 09:15] Stephan-FDG opened #193 "iOS build error: pngcrush caught libpng error: Not a PNG file.."
Hello,

i have a problem with the iOS build and I was hoping you could help me out
Main problem here is, that even though the archive is created and I could manually upload it, the problem is that Jenkins marks this as a build error and stops the deploy process.

Here is the Error Message:
All Images from "/LunarConsole/Editor/iOS/Common/Images" are affected I am getting a total of 115 Errors
<det

[2021-04-20 23:49] weeeBox commented on #193
Hi @Stephan-FDG - I haven't seen this before: what's Xcode version do you use? Can you attach the whole log?

[2021-04-21 09:28] Stephan-FDG commented on #193
Hey,
i was able to track down the issue.
For some reason our Jenkins had issues with the git-lfs installation resulting in corrupting all .pngs from the repository.
this became clear after I tried to upload to TestFlight manually.

Updating git-lfs and telling Jenkins the correct path in the environment variables fixed my problem

But it had nothing to do with the lunar console, sorry for botherin

[2021-04-21 09:28] #193 closed

[2021-04-21 13:02] weeeBox commented on #193
No worries - glad you figured it out!

[2021-05-02 16:35] nntgam commented on #165
I have check it with version 1.8 on asset store but I can't show the color of the text. The log show like below
<b>TDEBUG►</b><color=#00cc99><b>InputLocked►</b></color><color=#ff5050><b>LOCKED</b></color>

[2021-05-02 19:03] weeeBox commented on #165
@nntgam, can you try adding a closing `</color>` tag?

[2021-05-03 01:36] nntgam commented on #165
![Screenshot_20210503-083548.png](https://user-images.githubusercontent.com/48884638/116834964-a8f11180-abea-11eb-9900-c1b78310a250.png)

[2021-05-03 01:37] nntgam commented on #165
It still not working and not working with bold too

[2021-05-03 02:46] nntgam commented on #165
Yes I have already put, this on auto format by github.
This is full log:
`<b>TDEBUG►</b><color=#00cc99><b>InputLocked►</b></color><color=#ff5050><b>LOCKED</b></color> Remove <b>DoBoardGenerateEffect</b> remain UILevelShowBegin`

[2021-05-03 12:27] weeeBox commented on #165
@nntgam, can you double check if Rich Text Tags are enabled in the plugin?
<img width="278" alt="Screen Shot 2021-05-03 at 8 25 50 AM" src="https://user-images.githubusercontent.com/786644/116875672-4d725400-abe9-11eb-9da1-3f846ee98433.png">

[2021-05-03 12:57] nntgam commented on #165
Thank you for your help,  but I don't know why the color is not correct.
![image](https://user-images.githubusercontent.com/48884638/116878513-ab368880-ac49-11eb-9809-aa9c7ea64058.png)

[2021-05-03 14:14] weeeBox commented on #165
@nntgam, this does not look right - can you try to use [color names](https://docs.unity3d.com/Packages/com.unity.ugui@1.0/manual/StyledText.html#supported-colors) and see if that works? Is this happening on iOS or Android?

[2021-05-03 14:45] nntgam commented on #165
@weeeBox , Trying with color by name then it works. I'm using Android (Samsung S7).
Thank you for support

[2021-05-03 15:07] weeeBox commented on #165
@nntgam, I'm re-opening the issue to investigate the hex-colors bug

[2021-05-06 10:54] Vukiz commented on #161
I need it too.

[2021-05-06 19:18] Temka193 opened #196 "Unity input stops working until you close the error"
on Unity 2020.2.4 on Android, when an exception appears at the bottom of the screen, the Unity input stops working until you close the error.

[2021-05-17 00:33] weeeBox commented on #192
@re-cheid, everything builds fine on both mac and windows - can you confirm you still facing the issue?

[2021-05-17 00:35] weeeBox commented on #165
@nntgam, fixed in 1.8.2

[2021-05-17 00:35] #165 closed

[2021-05-17 14:36] weeeBox commented on #196
@Temka193, works as expected on Unity 2020.3.7f1. Installing 2020.2.4. Which device have you been using?

[2021-05-18 18:59] weeeBox commented on #191
Fixed in 1.8.3

[2021-05-18 18:59] #191 closed

[2021-05-27 09:33] re-cheid commented on #192
Hi, sorry for the late response.

I checked it again with Unity 2020.0.9 LTS and the latest version of lunar console pro.
The issue seems to be gone now.

[2021-05-27 09:33] #192 closed

[2021-06-01 16:57] kenofori opened #199 "Show console only on Gesture"
Hi there,

I'm showing a lot of logs, and console appears automatically in footer,
I only want to show console on swipe gesture.

How can I achieve that?
I own pro version.

Thanks

[2021-06-01 17:57] weeeBox commented on #199
Hello,

You can disable the popup in the prefab settings:
![Screen Shot 2021-06-01 at 1 56 10 PM](https://user-images.githubusercontent.com/786644/120369363-25a60700-c2e1-11eb-90a3-b1fcb58ad46f.png)

[2021-06-01 17:59] kenofori commented on #199
@weeeBox Tanks for your prompt reply,
Just so i'm clear, setting displaly mode to none will not show console on errors etc
BUT if i do swipe down, then ill see the console, right? (as this is what i want to achieve)

[2021-06-01 18:48] weeeBox commented on #199
Correct - let me know if that works.

[2021-06-02 09:09] #199 closed

[2021-06-05 08:42] novavision opened #200 "Add more gestures to show console"
As we all know 2 fingers gestures are pretty common for mobile devices and this conflicts with console show gesture.
Please add something like 3 fingers swipe down, or 2-3 fingers very long tap.

[2021-06-05 14:43] weeeBox commented on #200
Hey @novavision,

You can disable gestures and use [API Calls](https://github.com/SpaceMadness/lunar-unity-console/wiki/API-Guide) to programmatically open the console. I'll try to add more gestures soon.

[2021-06-30 08:59] pistoleta opened #201 "Problem with float variable input in console"
For a float value defined in LunarVariables:
`public static readonly CVar longTap = new CVar("4. long tap duration", 0.7f);`

By default tt shows in console like **'0,7'**  (semicolon instead of the dot) . And it works well like this.
But whenever I try to edit to another value no matter what I try to input it always ends up showing it up with the dot. Sometimes Lunar shows an error of invalid for

[2021-07-30 15:49] novavision opened #202 "Vars windows doesn't show all the declared variables"
Here is the Variables.cs

[code]

and here how `Actions & Vars` window looks like in Editor on Play
![image](https://user-images.githubusercontent.com/5512405/127678738-80dc63c4-cbc3-48f6-8073-c3614686709f.png)

[2021-08-03 06:36] davidejones88 commented on #155
This happened to me as well, Unity 2020.3.14f1 LTS, iPad Pro. It's not a massive problem but prevents us from having LunarConsole active in every build.
@weeeBox do you have any other updates? I will try your workaround today

Edit: I am using the new Input System package from Unity

[2021-10-02 03:00] TechCor8 opened #203 "Rich text (color) does not apply to entire output"
The rich text output does not match the Unity editor output. This behavior may be due to the log length.

We use StringBuilder to append a large number (50+) of color coded variables together. The first few lines display correctly, but then the color tags are ignored.

Example code:
[code]

[2021-10-02 03:17] TechCor8 opened #204 "Feature Request: Limit log lines to two, include the rest in message details."
We have a few very useful data dump logs in our app that execute with moderate frequency. In the editor, every log is always displayed as two lines. You must click the log to see the full output. This makes it very convenient, as we can ignore the dumps if we don't need them, and access them if we do.

Message Details already has the full output + stack trace. Perhaps an option can be added to lim

[2021-10-09 02:20] novavision opened #205 "Can't Enable/Disable plugin"
Before this worked as expected but now I can't switch plugin on/off moving from dev to release builds.
Here what I see in console
`Can't disable Lunar Console: can't find '#define LUNAR_CONSOLE_ENABLED' token`

Seems that happens after running External Dependency Manager > Android resolve.
The only solution I found is to reimport plugin again

[2021-10-16 19:45] breineng commented on #196
After updating Unity 2020.3.14f1, the problem persists. It breaks on any mobile device. Is it possible that calling the overlay activates some functions within the application or Unity that disable the EventSystem?

[2021-10-22 14:39] weeeBox commented on #196
@Temka193, tested in Unity 2020.3.14f on Android 12. Works as expected. Can you try to check the issue on an "empty" project?

[2021-10-22 21:07] breineng commented on #196
ok i will check

[2021-10-23 02:24] weeeBox commented on #201
Fixed in 1.8.5

[2021-10-23 15:24] weeeBox commented on #205
Hey @ novavision, which plugins are you using in your project?

[2021-10-23 22:23] weeeBox commented on #203
Fixed in 1.8.6

[2021-10-23 22:23] #203 closed, assigned to nobody

[2021-10-28 21:49] alikia19 opened #208 "Hey @Vukiz, thanks for the PR! There're 2 things we need to address before merging:"
Hey @Vukiz, thanks for the PR! There're 2 things we need to address before merging:
- Can you fix the broken unit test ion iOS: `Native/iOS/LunarConsole/LunarConsoleTests/LUActionRegistryFilterTest.swift:54:7: Type 'LUActionRegistryFilterTest' does not conform to protocol 'LUActionRegistryFilterDelegate'`?
- Can you sign the Individual [Contributor License Agreement (CLA)](https://docs.google.com/

[2021-11-01 22:27] #208 closed, assigned to nobody

[2022-01-11 17:49] Bobby-RobertQ commented on #192
can i get someone to check that this didnt just happen again in 2020.3.25f1
#if UNITY_2020_1_OR_NEWER

[2022-02-11 07:43] Mefodei opened #209 "FR: Improve layout"
It's to be much better and more useful place cheat data input field with same line to execution button.
We are use lunar console pro and have many cheats for QA side
That's improvement make our life easer

https://prnt.sc/26tkd6j

[2022-04-17 06:39] manofspirit opened #210 "Pro version crashes on iOS if log is quite long"
Hi there,

I was using it in production where i was logging server data per request, and once those items grown a lot then this immediatly started crashing the app, can you please an option to if logged text is huge (huge json being logged) then rather than crashing it only process which it can handle.

Thanks

[2022-04-19 16:36] MrBadge commented on #210
Same issue. Unity 2020.3.17f1, logs are quite long. Main thread freezes on the moment console being opened. Android is ok, the problem only occurs on iOS builds

[2022-04-22 14:17] PippoApps opened #211 "I love this."
Thank you!

[2022-05-03 13:58] joaokucera commented on #123
Hello, I am having the same issue.
AssetImporter.GetAtPath(androidPathAAR) returns null even with a valid path: Packages/com.companyname.client.lunarconsole/Plugins/LunarConsole/Editor/Android/lunar-console.aar.
Is there any known issue with having Lunar Console under the packages folder. We want it there in order to reuse across different games.

[2022-05-03 15:20] dschilens opened #212 "Exception Warning popup hides everything underneath"
As far as I can tell, if the exception warning popup appears on the bottom of the screen there's no way for me to make sure any UI underneath it is still visible. The popup is very useful, but I need some way of knowing if it opened & how big it is so I can move all my other debugging UI up and out of the way.

At the very least, it'd be great if the plugin let me know a "safe area" of how high th

[2022-06-01 03:13] khoint-uit opened #213 "Send log to email not working on some android phone."
Hi, I like this plugin a lot but for the newest version, I can't send log to a specific email on some android phones. Still stuck with this problem and don't know how to fix this.

Phone worked: Samsung Note 9
Phone did not work: google pixel 4XL, Redmi Note 11 Pro 5G

[2022-08-10 19:02] lvantilburg-imangi opened #214 "Instructions for Building LunarConsole for Android"
LunarConsole doesn't have a series of build instructions if you want to modify the source yourself. Here is what we found from our own testing:

* Open the Android project specifically in Android Studio at `lunar-unity-console/Native/Android/LunarConsole`
* Go into the menu and select `Build` -> `Make Project`. If it asks to install Android tools API 29, do it.
  * It may also give you an error ab

[2022-11-24 07:22] huachangmiao opened #215 "Wrong orientation on iOS16"
portrait orientation in my landscape game